version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 25
      semver-major-days: 5
      semver-minor-days: 3
      semver-patch-days: 2
