name: Api Tests for dummy website
on:
  push:
    branches:
      - api-testing
  pull_request:
    branches:
      - "api-testing"
      - "!hotfix/*"
      - "!main"

permissions: read-all

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Add node
        uses: actions/setup-node@v6
      - name: Install dependecies
        run: npm ci
      - name: Run api Tests
        run: npm run test
