name: Ui tests
on:
  push:
    branches:
      - actions-playwright-docker
  pull_request:
    branches:
      - "actions-playwright-docker"
      - "!hotfix/*"
      - "!main"

permissions: read-all

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Add node
        uses: actions/setup-node@v6
      - name: Install dependecies
        run: npm ci
      - name: Browser Chromium
        run: npx playwright install chromium --with-deps
      - name: Run playwright test
        run: npm run run-playwith-ui-tests
        env:
          ENV_URL: ${{ secrets.ENV_URL }}
          HTTP_CREDENTIALS_USERNAME: ${{ secrets.HTTP_CREDENTIALS_USERNAME }}
          HTTP_CREDENTIALS_PASSWORD: ${{ secrets.HTTP_CREDENTIALS_PASSWORD }}
          LOGIN_USERNAME: ${{ secrets.LOGIN_USERNAME }}
          LOGIN_PASS: ${{ secrets.LOGIN_PASS }}
