name: Playwright tests on docker image
on:
  push:
    branches:
      - actions-playwright-docker

permissions: read-all

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.43.1-jammy
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Add node
        uses: actions/setup-node@v6
      - name: Install dependecies
        run: npm ci
      - name: Run playwright test
        run: npm run ui_tests_light
      - name: Archive test results
        uses: actions/upload-artifact@v6
        if: always() || failure()
        with:
          name: playwright-report
          path: playwright-report
